.marque {
    display: flex;
    align-items: center;
    gap: 3vw;
    padding: 0 1.5vw;
    flex-shrink: 0;
    transform: translate(-100%);
    font-size: 3vw;
    font-weight: bolder;
}
#move{
    display: flex;
    background-color: #408697;
    display: flex;
    padding: 1.5vw 0;
    overflow: hidden;

}

.marque img {
    height: 4vw;
}

@media(max-width:1118px) {

    .container1 {
        padding: 3px;
    }

    .image img {
        display: none;
    }
}

#explore {
    flex: 1 1 auto;
    cursor: pointer;
    flex-wrap: wrap;
    height: 35px;
    width: 66px;
    padding: 3px;
    margin: 4px;

    font-size: 15px;
    border-radius: 7px;
    background-color: #408697;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    gap: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #408697;
}

.cardimage {
    flex: 1 1 300px;
    min-width: 300px;
}

.cardimage img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cardcontent {
    flex: 2 1 400px;
    padding: 1rem;
}

.rightimage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 140px;
    gap: 10px;
}

.content {
    flex: 1;
    padding-right: 10px;
    margin-top: -10px;

}

.content h2 {
    color: #408697;
}

.image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%;
    height: 400px;
}

@media (max-width: 1328px) {
    .image img {
        display: none;
    }

    .rightimage {
        flex-direction: column;
        align-items: center;
        margin-left: 1px;
        margin-top: 3px;

    }

    .content {
        text-align: center;
    }
}

#h2 {
    text-align: center;
}

.content p {
    font-size: 22px;
}

.content h2 {
    font-size: 50px;
}

h1 span {
    display: inline-block;
}

.cardbtn
{
    background-color: blueviolet;
    padding: 10px;
    color: aliceblue;
    border-radius: 10px;
    border : 1px solid;
}
