@tailwind base;
@tailwind components;
@tailwind utilities;

/* .body, .grid-background {
    background-image:
        linear-gradient(var(--grid-color-large) 2px, transparent 2px),
        linear-gradient(90deg, var(--grid-color-large) 2px, transparent 2px),
        linear-gradient(var(--grid-color-small) 1px, transparent 1px),
        linear-gradient(90deg, var(--grid-color-small) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
.body.dark, .grid-background.dark {
    color: #f9f9f9;
    --grid-color-large: rgba(255, 255, 255, 0.07);
    --grid-color-small: rgba(255, 255, 255, 0.06);
    background-color: #111;
} */

.body{
    min-height: 100vh;
}
