/* Hello Parth !! You can do your work in this folder... */
.mainbody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headbar {
    display: flex;
    font-size: 35px;
    font-weight: 600;
    width: 100%;
    justify-content: center;
    margin: 10px 0px;
}

.listdiv {
    width: 65%;
    gap: 12px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    max-height: 80vh;
    scrollbar-width: none;
    overflow-x: hidden;
}

/* SCROLL BAR */
/* .listdiv::-webkit-scrollbar {
    width: 1px;
 
  }
  
  .listdiv::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  .listdiv::-webkit-scrollbar-thumb {
    background-color: #a2a2a2;
    border-radius: 8px;
  } */


.glimpse {
    width: 15rem;
    border-radius: 6px;
    border: 1px solid;
}
.outerglimpse{
    display: flex;
    justify-content: center;
}
.rightglimpse {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.quecard {
    display: flex;
    /* flex-direction: column; */
    border: 4px solid #408697;
    padding: 10px;
    border-radius: 12px;
    /* width: 100%; */
    /* justify-content: space-between; */
    gap: 20px;
    
}

.logo{
    width: 20px;
    height: 20px;
}

.quename {
    font-size: 22px;
    font-weight: 500;

}

.problink {
    color: #608da2;
}

.problink:hover {
    font-size: 17px;
    text-decoration: underline;
}

.Articlebtn {
    display: flex;
    /* flex-direction: column; */
    gap: 6px;
    border: solid #408697;
    padding: 2px 3px;
    border-radius: 5px;
   
}

.Viewbtn {
    display: flex;
    gap: 6px;
    border: solid #408697;
    border-radius: 5px;
    padding: 2px 3px;
    /* flex-direction: column; */
}

.Viewbtn:hover {
    padding: 3px 4px;
}

.Articlebtn:hover {
    padding: 3px 4px;
}

/* .forinvert{
    filter: invert(1);
} */

.Articlebtn:active {
    background-color: rgb(249, 244, 254);
    color: black;
}

.Viewbtn:active {
    background-color: rgb(249, 244, 254);
    color: black;
}

.buttons {
    display: flex;
    gap: 10%;
    align-items: center;
    box-sizing: content-box;
    width: 620.95px;
    height: 33.8px;
}

.checkmain {
    display: flex;
    justify-content: space-between;

}

.check {
    width: 25px;
    border: solid #408697;
}

.problem {
    font-size: 18px;
    font-weight: 450;
    display: flex;
    align-items: center;
}

.discription {
    font-family: 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 1398px) {

    /* Your CSS styles go here */
    .quecard {
        flex-direction: column;
       
        /* align-items: center; */
    }
}
@media only screen and (max-width: 461px) {

    /* Your CSS styles go here */
    .quecard {
        flex-direction: column;
        
        /* align-items: center; */
        min-width: 100%;
    }
    .listdiv{
        width:90vw;
    }
}

