body{
    overflow-x: hidden;
}
#drawMode{
    height: 100vh;
    width: 20vw;
    background: beige;
    border-right: 5px solid;
    margin: 0;
    padding: 0;
}
#travel{
    background: #fff;
}





.section {
    display: flex;
    
}

@media (max-width : 1100px) {
    body{
        overflow: auto;
    }
    .section #drawMode{
        height: 30%;
        width: 100%;
        flex-direction: row;
        padding: 5px;
        margin: 20px;
        border-bottom: 5px solid;
        border-right: none;
    }
    #travel{
        margin-top: 15%;
    }
    
    
}